<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.title}}</title>
    <style>
        #messages {
            overflow: auto;
            width: 500px;
            height: 700px;
            border: 1px solid gray;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <h1>{{data.title}}</h1>
    <h2>Messages</h2>
    <div id="messages">
        {{data.messages | safe}}
    </div>
    <br>
    <br>
    <a href="/channels?id={{data.guild.id}}">Back</a>

    <script>
        document.getElementById("messages").scrollTop = document.getElementById("messages").scrollHeight
    </script>
</body>
</html>