<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{plain_text.name}}</title>
    <style>
        .guild-button {
            width:300px;
            height: 450px;
        }
        button {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="guild">
        <h1>{{plain_text.name}}</h1>
        <img src="{{plain_text.server_icon}}" width="300", height="300">
        <br>
        <h2>Information:</h2>
        <b>
            ID: {{plain_text.guild.id}} <br>
            Descriptoin: {{plain_text.guild.description}} <br>
            Region: {{plain_text.guild.region}} <br>
            Language: {{plain_text.guild.preferred_locale}} <br>
        </b>
        <br>
        <h3>Owner:</h3>
        <img src="{{plain_text.owner_avatar}}", width="128" height="128">
        <br><br>
        <b>
            Username: {{plain_text.owner.username}} <br>
            Global Name: {{plain_text.owner.global_name}} <br>
            ID: {{plain_text.owner.id}} <br>
        </b>
        <br>
        <h2>Channels:</h2>
        <a href="/channels?id={{plain_text.guild.id}}">Guild Channels</a>
        <br>
        <br>
        <a href="/">Back</a>
    </div>
</body>
</html>